<div class="right-panel">
    <div class="top-part">
        <div class="wrapper-div">
   <span class="orders-panel-heading"> Замовлення
   <span class="orders-count orange badge">0</span>
   </span>

        </div>
    </div>

    <div class="middle-part" id="cart-order"></div>

    <div class="bottom-part">
        <div class="wrapper-payment">
           <span class="sum-heading">
               Сума замовлення
           </span>
            <span class="sum">
              0 грн
           </span>
        </div>
        <div class="make-an-order-button">
            <a type="button" class="btn btn-warning btn-lg btn-block button-order" href="./">
                Редагувати замовлення
            </a>
        </div>
    </div>
</div>