<!--<div class="right-panel">-->
    <!--<div class="top-part">-->
        <!--<div class="wrapper-div">-->
   <!--<span class="orders-panel-heading"> Замовлення-->
   <!--<span class="orders-count orange badge">1</span>-->
   <!--</span>-->
            <!--<span class="clear-orders-wrap clear-orders">-->
          <!--Очистити замовлення-->
      <!--</span>-->
        <!--</div>-->
    <!--</div>-->

    <!--<div class="middle-part" id="cart">-->
                <!--</div>-->

    <!--<div class="bottom-part">-->
        <!--<div class="wrapper-payment">-->
           <!--<span class="sum-heading">-->
               <!--Сума замовлення-->
           <!--</span>-->
            <!--<span class="sum">115</span>-->
        <!--</div>-->
        <!--<div class="make-an-order-button">-->
            <!--<a type="button" href="/order.html" class="btn btn-warning btn-lg btn-block button-order">-->
                <!--Редагувати замовлення-->
            <!--</a>-->
        <!--</div>-->
    <!--</div>-->

<!--</div>-->